@model IEnumerable<ControleTarefas.Models.TarefasModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex justify-content-center p-3">Lista de Tarefas</h1>

<p>
    <a type="button" asp-action="Create" class="btn btn-primary">Criar nova tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<form asp-action="Index">
@foreach (var item in Model) {
    if(item.StatusTarefa == 0)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarefa)
            </td>
            <td class="ml-2">
                <a type="button" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Editar</a>
                <a type="button" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Apagar</a>
                <a type="button" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalhes</a>
                <button type="submit" value="Save" asp-route-id="@item.ID" class="btn btn-success">Concluído</button>
            </td>
        </tr>
    }
}
</form>
    </tbody>
</table>

