@model IEnumerable<ControleTarefas.Models.TarefasModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="d-flex justify-content-center p-3">Tarefas Concluidas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if(item.StatusTarefa == 1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarefa)
                    </td>
                    <td class="ml-2">
                        <a type="button" asp-controller="TarefasModels" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Apagar</a>
                        <a type="button" asp-controller="TarefasModels" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalhes</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>